# 
# The following lines prevent .htaccess and .htpasswd files from being 
# viewed by Web clients. 
# 
<FilesMatch "^\.ht"> 
    Order allow,deny 
    Deny from all 
</FilesMatch>
## browser cache control - Expire headers
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 7200 seconds"
	ExpiresByType image/jpg 			"access plus 2592000 seconds"
	ExpiresByType image/jpeg 			"access plus 2592000 seconds"
	ExpiresByType image/png 			"access plus 2592000 seconds"
	ExpiresByType image/gif 			"access plus 2592000 seconds"
	ExpiresByType image/svg+xml			"access plus 2592000 seconds"
	AddType image/x-icon .ico
	ExpiresByType image/ico 			"access plus 2592000 seconds"
	ExpiresByType image/icon 			"access plus 2592000 seconds"
	ExpiresByType image/x-icon 			"access plus 2592000 seconds"
	ExpiresByType text/css 				"access plus 2592000 seconds"
	ExpiresByType text/javascript 			"access plus 2592000 seconds"
	ExpiresByType application/javascript 		"access plus 2592000 seconds"
	ExpiresByType application/x-javascript 		"access plus 2592000 seconds"
	ExpiresByType application/x-shockwave-flash 	"access plus 2592000 seconds"
<FilesMatch "\\.(ico|jpe?g|png|gif|swf|css|js)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
</IfModule>
RewriteEngine On
RewriteBase /
RewriteRule ^([a-z0-9\-]+)\.html$ /$1.php [QSA,L]
RewriteRule ^traitement/([a-z0-9\-]+)\.html$ /php/$1.php [QSA,L]
RewriteRule ^projects/([a-z0-9\-]+)\.html$ /projects.php?project=$1 [QSA,L]
RewriteRule ^projects/$ /projects.php
RewriteRule ^projects$ /projects.php
RewriteRule ^map.xml$ /map/map.php