.headband {
	margin-left: 4%;
	width: 92%;
	overflow: hidden;
	height: 172px;
}

.headband>figure {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2%;
}
.headband>figure>a {
	width: 280px;
}

.headband>figure>a>img {
	height: 172px;
	width: 280px;
}