.headband {
	margin-left: 4%;
	width: 92%;
	overflow: hidden;
	height: 145px;
}

.headband>figure {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2%;
}

.headband>figure>a>img {
	height: 145px;
	width: 300px;
}