div {
    margin-left: 4%;
    width: 92%;
    overflow: hidden;
}

figure {
	display: flex;
    flex-wrap: nowrap;
    gap: 2%;
}
figure>a {
    width: 23.5%;
    min-width: 250px;
}

figure>a>img {
    height: auto;
    width: 100%;
    min-width: 300px;
}