figure>a>img {
    height: auto;
    width: 100%;
}

.content1 {
    width:100% !important;
}

.content > article > figure {
    float:left;
    width:33%;
}

.content > article > figure > img {
    width:100%;
    height: auto;
}